  ion-content {
    --background: var(--ion-color-success);
  }

  .forget-email-pass {
    text-transform: initial;
  }

  .eSACCO {
    text-align: center;
    padding-bottom: 0px;
  }

  .user-icon {
    width: 20%;
    display: flex;
    border-radius: 50px;
    align-items: center;
    margin-left: 40%;
    margin-right: 40%;
  }